* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
  }

body {
    background-color: #0f0f0f;
    color: #fff;
    display: flex;
    height: 100vh;
}

  /* SIDEBAR */
.sidebar {
    width: 220px;
    background-color: #151515;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar h2 {
    font-size: 14px;
    margin-bottom: 20px;
    color: #aaa;
}

.menu a {
    display: block;
    color: #ccc;
    text-decoration: none;
    padding: 10px 0;
    font-size: 14px;
}

.menu a:hover {
    color: #fff;
}

.sidebar-footer {
    font-size: 12px;
    color: #777;
}

  /* MAIN */
.main {
    flex: 1;
    padding: 30px;
    overflow-y: auto;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

h2 {
    margin: 30px 0 15px;
    font-size: 20px;
}

  /* GRID */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 15px;
}

.botao{
    text-decoration: none;
}

.card {
    background-color: #2a2a2a;
    border-radius: 14px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100px;
}

.card p {
    font-size: 13px;
    color: #F6F6F9;
    margin-bottom: 10px;
}

.card strong {
    font-size: 14px;
    color: #fff;
}

  /* PROGRESS BAR */
.progresso {
    width: 100%;
    height: 8px;
    background-color: #444;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 12px;
}

.progresso span {
    display: block;
    height: 100%;
    background-color: #fff;
    border-radius: 10px;
}


.feedback {

    display: flex;
    gap: 20px;
  }

.feedback .card {
    height: 300.75px;
    width: 258.75px;
    min-height: 140px;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.feedback strong {
    font-size: 16px;
}

.feedback small {
    font-size: 13px;
    color: #ccc;
}


.disaprendizagem {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    font-family: 'Inter', 300;
    gap: 6px;
    margin-top: auto;
}

.disaprendizagem p {
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 600;
    font-size: 14px;
    font-weight: 600;
}
